<nav-dir></nav-dir>
<div class="center">
	<div class="entries" ng-show="admin">
		<ul>
			<h3 class="underline">User information</h3>
			<p ng-repeat="user in users">
				<strong class="underline">Email:</strong> {{user.email}}<br>
				<strong class="underline">Type:</strong> {{user.type}}
			</p>
		</ul>
	</div>
	<div class="entries" ng-repeat="job in jobs">
		<p class="text" ng-show="admin">
			<strong class="underline">Name: </strong>
			<span class="title">{{job.name}}</span> 
		</p>
		<p class="text">
			<strong class="underline">Job Title: </strong>
			<span class="title">{{job.title}}</span> 
		</p>
		<p class="text" ng-show="admin">
			<strong class="underline">Created At: </strong>
			<span class="title">{{job.created_at}}</span> 
		</p>
		<p>
			<strong class="underline">Location: </strong>
			<span class="location">{{job.location}}</span>
		</p>
		<p class="text">
				<strong class="underline">Job Description: </strong>
			<div class="scroll">
				 <span class="description">{{job.discription}}</span>
			</div>
		</p>
	</div>
</div>