<nav-dir></nav-dir>

<div ng-show="noInputAlert">
	<div class="alert alert-danger" role="alert">
	  <button type="button" class="close" aria-label="Close" ng-click="dismissAlerts()"><span aria-hidden="true">&times;</span></button>
	  <strong>Warning!</strong> Your email or password was not correct!
	</div>
</div>

<div ng-show="unmatchPassAlert">
	<div class="alert alert-danger" role="alert">
	  <button type="button" class="close" aria-label="Close" ng-click="dismissAlerts()"><span aria-hidden="true">&times;</span></button>
	  <strong>Warning!</strong> Your passwords did not match!
	</div>
</div>

<div ng-show="forgotPassAlert">
	<div class="alert alert-danger" role="alert">
	  <button type="button" class="close" aria-label="Close" ng-click="dismissAlerts()"><span aria-hidden="true">&times;</span></button>
	  <strong>Warning!</strong> Please enter your email!
	</div>
</div>

<div ng-show="takenEmail">
	<div class="alert alert-danger" role="alert">
	  <button type="button" class="close" aria-label="Close" ng-click="dismissAlerts()"><span aria-hidden="true">&times;</span></button>
	  <strong>Warning!</strong> That email already exists!
	</div>
</div>

<div ng-show="noUserByThatNameAlert">
	<div class="alert alert-danger" role="alert">
	  <button type="button" class="close" aria-label="Close" ng-click="dismissAlerts()"><span aria-hidden="true">&times;</span></button>
	  <strong>Warning!</strong> That email does not exist!
	</div>
</div>

<div ng-show="incorrectOldPassAlert">
	<div class="alert alert-danger" role="alert">
	  <button type="button" class="close" aria-label="Close" ng-click="dismissAlerts()"><span aria-hidden="true">&times;</span></button>
	  <strong>Warning!</strong> That old password is incorrect!
	</div>
</div>

<div id="myCard" class="flip-container center">
	<div class="flipper">
		<div class="front card">
			<h3>Log in</h3>
		    <input placeholder="Email" class="form-control" type="text" ng-model="existUser.email"/></br>
		    <input placeholder="Password" class="form-control" type="password" ng-model="existUser.password"/></br>
		    <button class="myButton" ng-click="logMeIn(existUser)">Log In</button></br>
		    <div class="options">
		    	<div class="toFlip" ng-model="forgotFlip" ng-click="showForgot()">Forgot Password?</div>
		    	<div class="toFlip" ng-model="reset" ng-click="showReset()">Reset Password</div>
		    	<div class="toFlip" ng-model="signUp" ng-click="showSignUp()">Sign Up</div>
		    </div>
		</div>

		<div class="back card">
			<div ng-if="signUp">
				<h3>Sign up</h3>
				<input placeholder="Email" class="form-control" type="text" ng-model="newUser.email"></br>
				<input placeholder="Password" class="form-control" type="password" ng-model="newUser.password"/>
				<input placeholder="Confirm Password" class="form-control" type="password" ng-model="signUpConPass"/></br>
				<button class="myButton" ng-click="addUser(newUser, signUpConPass)">Sign Up</button></br>
				<p class="toFlip" ng-click="exitSignUp()">Log In</p>
			</div>

			<div ng-if="forgotFlip">
				<h3>Send Password Request</h3>
				<input placeholder="Email" class="form-control" type="text" ng-model="email"></br>
				<button class="myButton" ng-click="forgotPass(email)">Send Request</button></br>
				<p class="toFlip" ng-click="exitForgotPass()">Log In</p>
			</div>

			<div ng-if="reset">
				<h3>Reset Pass</h3>
				<input placeholder="Email" class="form-control" type="text" ng-model="changePass.email"></br>
				<input placeholder="Old Password" class="form-control" type="password" ng-model="changePass.oldPass"></br>
				<input placeholder="New Password" class="form-control" type="password" ng-model="changePass.newPass">
				<input placeholder="Confirm Password" class="form-control" type="password" ng-model="resetConPass"/></br>
				<button class="myButton" ng-click="resetPassword(changePass, resetConPass)">Send Request</button></br>
				<p class="toFlip" ng-click="exitResetPass()">Log In</p>
			</div>
		</div>
	</div>
</div>